*
{
    font-family: 'Quicksand', sans-serif;
    outline: none;
}
.bg-alice
{
    background: aliceblue;
}
.color-blue-1
{
    color:  rgba(44,126,180);
}
.color-blue-2
{
    color:  rgb(67, 181, 186);
}
.color-blue-3
{
    color: rgb(138, 207, 209);
}
.color-blue-4
{
    color: rgb(144, 210, 212);
}

.icon-styles:hover
{
    fill:  rgba(44,126,180);
    cursor: pointer;
}
.icon-styles:active 
{
    background-color: lightblue;
}

/*Loading*/
.txt-loading
{
    font-size: 45px;   
}
.txt-s
{
    font-size: 60px;
    top: 50px;
    right: 112px;
}
.txt-simple
{
    font-size: 30px;
    top: 115px;
    right: 78px;
}
.txt-task
{
    font-size: 30px;
    top: 140px;
    right: 90px;
}
/*principal*/
.bg-principal
{
   background-image: url("./media/background.jpg"); 
   background-size: cover;
}
.bg-opacity
{
    background: rgba(44,126,180,0.3);
}
.principal-container
{
    width: 366px!important;
    height: 600px!important;
}
/*login*/
.txt-task-position
{
    top: 35px;
    right: 86px;
}
.logo-container
{
    height: 85px;
    top: -10px;
}
.input-txt
{
    padding: 6px 12px 6px 12px;
    border: 0px;
    border-bottom: 1px solid  lightgray;
    width: 270px;
    outline: none;
    color:  rgba(44,126,180);
    transition-property: border-bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.input-txt:focus
{
    border-bottom: 1px solid  rgba(44,126,180);
}
.input-txt::placeholder
{
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.input-txt:focus::placeholder
{
    color:  rgba(44,126,180);
}
.link
{   transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    color: black;
}
.link:hover
{
    cursor: pointer;
    color:  rgba(44,126,180);
}
.btn-task
{
    border: 1px solid lightgray;
    background-color: transparent;
    color: rgba(44,126,180);
    cursor: pointer;
    padding: 6px 12px 6px 12px;
    width: 100%;
    transition-property: border;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.btn-task:hover
{
    border: 1px solid rgba(44,126,180);
}
.btn-task:focus
{
    outline: 0px;
}
.btn-task:active
{
  box-shadow: 0 0 0 0.05rem rgba(44,126,180);
}
/*Sign Up*/
.size-email
{
    width: 57.5%;;
}
.size-pwd
{
    width: 40%;;
}
/*navbar*/
.task-position
{
    top: -20px;
}
#select-tasks:hover
{
    cursor: pointer;
}
/*panel*/
.tasks-container
{
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.tasks-container:hover
{
    cursor: pointer;
    box-shadow: 0 0 0 0.05rem rgba(44,126,180);
}
/*Options Tasks*/
.options-tasks
{
    top: 18px;
    left: 185px;
}
.icon-option
{
    fill: lightgrey;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.icon-option:hover
{
    fill: rgba(44,126,180);
    cursor: pointer;
}
.icon-option:active 
{
    width: 1.45em;
    height: 1.45em;
}
/*modal*/
.txt-s-modal
{
    font-size: 80px;
    top: 300px;
    right: 112px;
}
.txt-simple-modal
{
    font-size: 40px;
    top: 390px;
    right: 65px;
}
.txt-task-modal
{
    font-size: 40px;
    top: 430px;
    right: 81px;
}

@media screen and (max-width: 576px)
{
    .col-sm-3 
    {
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }

}

@media screen and (min-width: 575px) and (max-width: 823px)
{  
    .col-sm-3 
    {
        flex: 0 0 50%!important;
        max-width: 50%!important;
    }

}


@media screen and (min-width: 824px) and (max-width: 1077px) 
{
    .col-sm-3 
    {
        flex: 0 0 33.33%!important;
        max-width: 33.33%!important;
    }
}


@media screen and (min-width: 1078px) and (max-width: 1199.98px) 
{ 
    .col-sm-3 
    {
        flex: 0 0 25%!important;
        max-width: 25%!important;
    }
}
