*
{
    font-family: 'Quicksand', sans-serif;
    outline: none;
}
.bg-alice
{
    background: aliceblue;
}
.color-blue-1
{
    color:  rgba(44,126,180);
}
.color-blue-2
{
    color:  rgb(67, 181, 186);
}
.color-blue-3
{
    color: rgb(138, 207, 209);
}
.color-blue-4
{
    color: rgb(144, 210, 212);
}

.icon-styles:hover
{
    fill:  rgba(44,126,180);
    cursor: pointer;
}
.icon-styles:active 
{
    background-color: lightblue;
}

/*Loading*/
.txt-loading
{
    font-size: 45px;   
}
.txt-s
{
    font-size: 60px;
    top: 50px;
    right: 112px;
}
.txt-simple
{
    font-size: 30px;
    top: 115px;
    right: 78px;
}
.txt-task
{
    font-size: 30px;
    top: 140px;
    right: 90px;
}
/*principal*/
.bg-principal
{
   background-image: url("./media/background.jpg"); 
   background-size: cover;
}
.bg-opacity
{
    background: rgba(44,126,180,0.3);
}
/*login*/
.txt-task-position
{
    top: 35px;
    right: 86px;
}
.logo-container
{
    height: 85px;
    top: -10px;
}
.input-txt
{
    padding: 6px 12px 6px 12px;
    border: 0px;
    border-bottom: 1px solid  lightgray;
    width: 270px;
    outline: none;
    color:  rgba(44,126,180);
    transition-property: border-bottom;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.input-txt:focus
{
    border-bottom: 1px solid  rgba(44,126,180);
}
.input-txt::placeholder
{
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.input-txt:focus::placeholder
{
    color:  rgba(44,126,180);
}
.link
{   transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    color: black;
}
.link:link, link:visited, link:active
{
    text-decoration: none;
    color:  rgba(44,126,180);
}
.btn-task
{
    border: 1px solid lightgray;
    background-color: transparent;
    color: rgba(44,126,180);
    cursor: pointer;
    padding: 6px 12px 6px 12px;
    width: 100%;
    transition-property: border;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.btn-task:hover
{
    border: 1px solid rgba(44,126,180);
}
.btn-task:focus
{
    outline: 0px;
}
.btn-task:active
{
  box-shadow: 0 0 0 0.05rem rgba(44,126,180);
}
/*Sign Up*/
.container
{
    width: 412px;
    height: 366px;
}

